{% extends "padre.html" %} 

{% load static %} 

{% block contenido %}
<div class="container">
  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="{% static 'app_familia/assets/img/Rojas.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Apellido Rojas</h5>
          <p class="card-text">Es un toponímico, es decir, esta basado en el nombre del lugar donde nació o tuvo residencia el portador del apellido.</p>
          <a href="rojas" class="btn btn-primary">Leer más</a>
        </div>
      </div>

    </div>
    <div class="col">

      <div class="card" style="width: 18rem;">
        <img src="{% static 'app_familia/assets/img/alemania.jpg' %} " class= "card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Apellido Konrath</h5>
          <p class="card-text">El apellido Konrad se deriva del nombre alemán antiguo Kuoni-Rat, que significa consejal valiente (Kuoni=kuhn=valiente=temerario, Rat=consejo)</p>
          <a href="konrath" class="btn btn-primary">Leer más</a>
        </div>
      </div>

    </div>

  </div>


</div>





   



    {% endblock %} 