{% extends "padre.html" %} 

{% load static %} 

{% block contenido %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Apellido</th>
        <th scope="col">Pais</th>
      </tr>
    </thead>
    <tbody>
        <tr>
        <th scope="row">1</th>
        <td>Rojas</td>
        <td>España</td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Konrath</td>
        <td>Alemania</td>
        <td></td>
      </tr>
      <tr>
    
      </tr>
    </tbody>
  </table>
   




    {% endblock %} 