{% extends "padre.html" %} 

{% load static %} 

{% block contenido %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Dirección</th>
        <th scope="col">Viviendo desde</th>
      </tr>
    </thead>
    <tbody>
      {% for familiares in info %}
  
      <tr>
        <th scope="row">{{familiares.id}}</th>>
        <td>{{familiares.calle}}</td>
        <td>{{familiares.viviendo_desde}}</td>
        </th>
       
        {% endfor %}

      </tr>
    </tbody>
    
  </table>
    {% endblock %} 
