{% extends "padre.html" %}
{% load static %} 
{% block contenido %}
<h3>Breve historia</h3>
<img src="{% static 'app_familia/assets/img/alemania.jpg' %} " width="150" height="100">
<h6>Heinrich y Konrad eran los dos nombres de pila mas usados en la Alemania medieval. 
    Hasta hoy en día se usa el dicho « Hinz und Kunz » para denotar “todo el mundo”.</h6>
<h3>Derivaciones del apellido</h3>
<h6>De los Konrad conocidos o famosos de la edad media se originaron cientos de apellidos muy variados como : (Duden, página 388)
    Conrad, Konradt, Konrath, Kunrath, Conrads, Konrads, Conradi, Konradi (muchos apellidos con C y K son variaciones en la misma familia), 
    Kahnert, Kohnert, Kuhnert, Kühnert, Cordes, Könemann, Kohn, Künzel, Kinzel, Kientzle, Kienzle, Kain, etc. etc.</h6>

















{% endblock %}