{% extends "padre.html" %} 

{% load static %} 

{% block contenido %}
<table class="table">
  <thead>
    
   
    <tr>
    
      <th scope="col">Orden</th>
      <th scope="col">Nombre</th>
      <th scope="col">Edad</th>
      <th scope="col">Nacimiento</th>
      <th scope="col">Vinculo</th>
      
     
    </tr>
  </thead>
  <tbody>
    {%for familiar in datos%}
    <tr>
     
      <th scope="row">{{familiar.id}}</th>
      <td>{{familiar.nombre}}</td>
      <td>{{familiar.edad}}</td>
      <td>{{familiar.nacimiento}}</td>
      <td>{{familiar.vinculo}}</td>
      <td><a href="modificar">Modificar datos</a></td></td>
      <td><a href="eliminar_familiar">Borrar</a></td>
      
    </tr>
    {%endfor%}
    

    </tr>
  
  </tbody>
  
</table>
<button>
  <a href="nuevo_familiar">Agregar otro familiar</a>
</button>
    {% endblock %} 



