{% extends "padre.html" %}
{% load static %} 
{% block contenido %}
<h3>Padre</h3>
<h6 class="post-subtitle" style="font-size: 10;">Es un hecho establecido hace demasiado tiempo que un lector se distraerá con el contenido del texto de un sitio mientras que mira su diseño. 
    El punto de usar Lorem Ipsum es que tiene una distribución más o menos normal de las letras, al contrario de usar textos como por ejemplo "Contenido aquí, contenido aquí".

</h6>
<h3>Lorem</h3>
<figure class="figure">
    <img src="{% static 'app_familia/assets/img/prima.jpg' %}" width="300" height="300"class="figure-img img-fluid rounded" alt="...">
    <figcaption class="figure-caption text-end">Prima</figcaption>
  </figure>
  <h6> dasdasdadasdadadada </h6>


<h3>Curiosidades del apellido</h3>
<h6>El trozo de texto estándar de Lorem Ipsum usado desde el año 1500 es reproducido debajo para aquellos interesados. 
Las secciones 1.10.32 y 1.10.33 de "de Finibus Bonorum et Malorum" por Cicero son también reproducidas en su forma original exacta, acompañadas por versiones en Inglés de la traducción realizada en 1914 por H. Rackham.</h6>
{% endblock %}