{% extends "padre.html" %}
{% load static %}
{% block contenido %}
<div class="container">
    <div class="row">
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="{% static 'app_familia/assets/img/descarga.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Jorge Fernando Rojas</h5>
            <p class="card-text">"No hay nadie que ame el dolor mismo, que lo busque, lo encuentre y lo quiera, simplemente porque es el dolor."</p>
            <a href="perfil1" class="btn btn-primary">Leer más</a>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="{% static 'app_familia/assets/img/mama.jpg' %} " class= "card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Miriam Konrath</h5>
              <p class="card-text">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500</p>
              <a href="perfil2" class="btn btn-primary">Leer más</a>
            </div>
          </div>
          
          <div class="card" style="width: 18rem;">
            <img src="{% static 'app_familia/assets/img/prima.jpg' %} " class= "card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Macarena Rojas</h5>
              <p class="card-text">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500</p>
              <a href="perfil4" class="btn btn-primary">Leer más</a>
            </div>
          </div>
    
      </div>
      <div class="col">
  
        <div class="card" style="width: 18rem;">
          <img src="{% static 'app_familia/assets/img/primo.jpg' %} " class= "card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Alvaro Chani</h5>
            <p class="card-text">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500</p>
            <a href="perfil5" class="btn btn-primary">Leer más</a>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="{% static 'app_familia/assets/img/novia.jpg' %} " class= "card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Micaela Cangas</h5>
              <p class="card-text">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500</p>
              <a href="perfil6" class="btn btn-primary">Leer más</a>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="{% static 'app_familia/assets/img/abuel.jpg' %} " class= "card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Paula Lopéz</h5>
              <p class="card-text">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500</p>
              <a href="perfil7" class="btn btn-primary">Leer más</a>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="{% static 'app_familia/assets/img/prima2.jpg' %} " class= "card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Lucia Rojas</h5>
              <p class="card-text">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500</p>
              <a href="perfil8" class="btn btn-primary">Leer más</a>
            </div>
          </div>
    

      </div>
  
    </div>





















{% endblock %}