{% extends "padre.html" %}
{% load static %} 
{% block contenido %}
<h3>Padre</h3>
<h6 class="post-subtitle" style="font-size: 10;">Es un hecho establecido hace demasiado tiempo que un lector se distraerá con el contenido del texto de un sitio mientras que mira su diseño. 
    El punto de usar Lorem Ipsum es que tiene una distribución más o menos normal de las letras, al contrario de usar textos como por ejemplo "Contenido aquí, contenido aquí".

</h6>
<h3>Lorem</h3>
<figure class="figure">
    <img src="{% static 'app_familia/assets/img/mama.jpg' %}" width="300" height="300"class="figure-img img-fluid rounded" alt="...">
    <figcaption class="figure-caption text-end">Mama</figcaption>
  </figure>
  <h6> dasdasdadasdadadada </h6>


<h3>Curiosidades del apellido</h3>
<h6>Rojas ocupa el puesto 94 en la lista de apellidos frecuentes y lo llevan en España 46.503 personas. Su uso aumenta en otros países como en Chile, por ejemplo, donde lo encontramos como el tercer apellido más común.
Sobre su origen hay discrepancia. Si algunos afirman que se trata de un apellido toponímico, otros apuntan hacia un origen hebreo que hace referencia al color que portaba la familia del rey David, aunque esta versión puede tener más de leyenda que de realidad.
El topónimo al que hace referencia el apellido Rojas podemos situarlo en la villa del mismo nombre perteneciente al municipio de Briviesca en Burgos. Si alguna vez visitas la localidad, te sorprenderá el tono rojizo de su paisaje. 
Cabe suponer que, como muchos otros apellidos, se extendería por toda la península durante la Reconquista.</h6>
{% endblock %}