{% extends "padre.html" %} 
{% load static %} 
{% block contenido %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

{% if busqueda %}


<ul>{% for Familias in busqueda %}
    <li>Nombre: {{Familias.nombre}}</li>
    <li>Edad: {{Familias.edad}}</li>
    <li>Fecha de nacimiento: {{Familias.nacimiento}}</li>
    <li>Tipo de vínculo: {{Familias.vinculo}}</li>
    {% endfor %}
</ul>
{% else %}
    <p>No se encontro información</p>
    {% endif %}
    
<a class="navbar-brand" href="buscar_familiar">Atrás
</body>
</html>

{% endblock %}