{% extends "padre.html" %}
{% load static %} 
{% block contenido %}
<h3>Origen</h3>
<h6 class="post-subtitle" style="font-size: 10;">
De origen castellano o aragonés. Ya en el siglo XIII, un noble llamado Alonso de Rojas acudió en ayuda del rey Don Jaime, de Aragón,
para luchar contra los musulmanes de Valencia. Un ilustre portador del apellido fue Fernando de Rojas (1465-1541), 
autor de La Celestina.
</h6>
<h3>Escudo</h3>
<figure class="figure">
    <img src="{% static 'app_familia/assets/img/Rojas.jpg' %}" width="300" height="300"class="figure-img img-fluid rounded" alt="...">
    <figcaption class="figure-caption text-end">Escudo familiar</figcaption>
  </figure>
  <h6> Escudo de oro con cinco estrellas de azul </h6>


<h3>Curiosidades del apellido</h3>
<h6>Rojas ocupa el puesto 94 en la lista de apellidos frecuentes y lo llevan en España 46.503 personas. Su uso aumenta en otros países como en Chile, por ejemplo, donde lo encontramos como el tercer apellido más común.
Sobre su origen hay discrepancia. Si algunos afirman que se trata de un apellido toponímico, otros apuntan hacia un origen hebreo que hace referencia al color que portaba la familia del rey David, aunque esta versión puede tener más de leyenda que de realidad.
El topónimo al que hace referencia el apellido Rojas podemos situarlo en la villa del mismo nombre perteneciente al municipio de Briviesca en Burgos. Si alguna vez visitas la localidad, te sorprenderá el tono rojizo de su paisaje. 
Cabe suponer que, como muchos otros apellidos, se extendería por toda la península durante la Reconquista.</h6>
{% endblock %}

